section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    width: 90%;
    margin: 3vh auto;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    /* box-shadow: 2px 2px 5px 2px gray; */
    box-shadow: 3px 3px 10px 0px rgba(100,100,100,0.75);
    border: 1px solid lightgray;
    background-color: #EEE3E0;
    /* width: 90%;
    margin: 10px auto; */
    /* background-color: red; */
}

section > h1 {
    grid-column: 1 / span 2;
}